body {
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    scroll-behavior: smooth;
}

[contenteditable="true"]:focus {
    outline: none; /* Removes the default focus outline */
}

#content {
    width: 100%;
    height: 90vh;
    border: none;
    padding: 10px;
    font-size: 12px;
}

div.has-text {
    position: relative;
    padding-left: 20px;
}

div.has-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.5px;
    background-color: lightgray;
}